<link rel="import" href="../node_modules/@polymer/polymer/polymer-element.html"/>

<dom-module id="{{name}}">
<template>
    <link rel="stylesheet" href="/bower_components/ylib/dist/css/ylib.min.css">
    <style>
        :host {
            display: block;
        }
    </style>
    <slot></slot>
</template>

<script>
    class ElementName extends Polymer.Element {
        static get is() { return '{{name}}'; }

        static get properties() {
            return {
            };
        }
        connectedCallback() {
            var self = this;
            super.connectedCallback();
        }
    }

    // Register custom element definition using standard platform API
    customElements.define(ElementName.is, ElementName);
</script>
</dom-module>