<link rel="import" href="../node_modules/@polymer/polymer/polymer-element.html"/>

<dom-module id="address-autocomplete">
<template>
    <link rel="stylesheet" href="/node_modules/yfront/dist/css/yfront.min.css">
    <style>
        :host {
            display: block;
        }

        #map {
            display: none;
            width: 100%;
            height: var(--map-height, 500px);
        }

        #autocomplete {
            width: 100%;
        }
    </style>
    <input id="autocomplete" placeholder="Endereço"></input>
    <div id="map"></div>
</template>

<script>
    
    class AddressAutocomplete extends Polymer.Element {
        static get is() { return 'address-autocomplete'; }

        static get properties() {
            return {
                showMap: {
                    type: Boolean,
                    observer: '_showMapChanged'
                }
            };
        }
        _showMapChanged() {
            this.root.getElementById('map').style.display = this.showMap ? 'block' : 'none';
            if(!this.map && this.showMap) {
                this.map = new google.maps.Map(this.root.getElementById('map'), {
                    mapTypeControl: false,
                    panControl: false,
                    zoomControl: false,
                    streetViewControl: false
                });
            }
        }
        connectedCallback() {
            super.connectedCallback();
            var self = this;

            // Create the autocomplete object, restricting the search to geographical
            // location types.
            this.autocomplete = new google.maps.places.Autocomplete(this.root.getElementById('autocomplete'), { types: ['geocode'] });
            this.autocomplete.addListener('place_changed', this.setMapLocation.bind(this));
            this.root.getElementById('autocomplete').addEventListener('focus', this.geolocate.bind(this));
        }
        setMapLocation() {
            if(!this.map) return;
            var place = this.autocomplete.getPlace();
            this.map.panTo(place.geometry.location);
            this.map.setZoom(15);
        }
        geolocate() {
            var self = this;
            if (navigator.geolocation && !this.root.getElementById('autocomplete').value) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    self.autocomplete.setBounds(circle.getBounds());
                    if(self.map) {
                        self.map.panTo(geolocation);
                        self.map.setZoom(position.coords.accuracy);
                    }
                });
            }
        }
    }

    // Register custom element definition using standard platform API
    customElements.define(AddressAutocomplete.is, AddressAutocomplete);
</script>
</dom-module>