<link rel="import" href="../node_modules/@polymer/polymer/polymer-element.html"/>

<dom-module id="input-autocomplete">
    <template>
        <link rel="stylesheet" href="/node_modules/yfront/dist/css/yfront.min.css">
        <style>
             :host *,
             :host *::before,
             :host *::after {
                box-sizing: border-box;
            }
            
             :host {
                position: relative;
                display: inline-block;
                width: 100%;
                height: auto;
                /*contain: content;*/
            }
            
            input {
                display: block;
                width: 100%;
            }
        </style>

        <input type="text" id="input" />
        <div class="autocomplete-results"></div>
    </template>

    <script>
        class AutoComplete extends Polymer.Element {
            static get is() { return 'input-autocomplete'; }

            static get properties() {
                return {
                    _indexResult: {
                        type: Number,
                        observer: '_indexResultChanged'
                    },
                    value: {
                        type: String,
                        observer: '_valueChanged'
                    },
                    placeholder: {
                        type: String,
                        observer: '_placeholderChanged'
                    },
                    selected: {
                        type: String,
                        observer: '_selectedChanged'
                    },
                    data: Array,
                    dataProperty: String,
                    hasMore: Boolean,
                    showOnFocus: Boolean,
                    allowNew: Boolean,
                    url: String,
                    format: String,
                    results: Array,
                    resultsVisible: {
                        type: Boolean,
                        observer: '_resultsVisibleChanged'
                    }
                };
            }

            _indexResultChanged() {
                if(this._indexResult == -1) return;
                const container = this.root.querySelector('.autocomplete-results');
                let item = container.querySelector('.active');
                if(item) item.classList.remove('active');
                item = container.querySelectorAll('li')[this._indexResult];
                if(item) item.classList.add('active');
            }

            _getText(v) {
                return this.dataProperty ? v[this.dataProperty] : v;
            }

            _setResults() {
                const container = this.root.querySelector('.autocomplete-results');
                container.classList.add('visible');

                let html = "";
                if (this.value) {
                    const term = this.value.toLowerCase();
                    this.results = this.data.filter(v => this._getText(v).toLowerCase().includes(term));
                    
                    const regex = new RegExp(`(${this.value})`, `ig`);
                    this.results.forEach(d => html += `<li>${this._getText(d).replace(regex, `<b>$1</b>`)}</li>`);
                }
                else {
                    this.results = this.data;
                    this.results.forEach(d => html += `<li>${this._getText(d)}</li>`);
                }
                container.innerHTML = `<ul>${html}</ul>`;
                this._indexResult = -1;
            }

            _clearResults() {
                this.results = [];
                let container = this.root.querySelector('.autocomplete-results');
                container.classList.remove('visible');
                container.innerHTML = ``;
                if (this.selected != this.value) {
                    if (this.allowNew) this.selected = this.value;
                    else this.value = this.selected;
                }
            }

            _resultsVisibleChanged(visible) {
                if (visible) {
                    this._setResults();
                }
                else {
                    this._clearResults();
                    document.removeEventListener('click', this._documentClickListener.bind(this), false);
                }
            }

            _onKeyUp(e) {
                switch (e.key) {
                    case "ArrowDown":
                        if(this._indexResult < this.results.length-1)
                            this._indexResult++;
                        break;
                    case "ArrowUp":
                        if(this._indexResult >= 0)
                            this._indexResult--;
                        break;
                    case "Enter":
                        if(this._indexResult !== -1) {
                            this.selected = this._getText(this.results[this._indexResult]);
                        }
                        break;
                    case "Escape":
                        this._clearResults();
                        break;
                    default:
                        if (this.value != e.target.value) {
                            this.value = e.target.value;
                            if (this.value || this.showOnFocus) this._setResults();
                            this.resultsVisible = true;
                            this.dispatchEvent(new CustomEvent('showResults'));
                        }
                }
                

                e.preventDefault();
            }

            _selectedChanged() {
                this.value = this.selected;
                this.dispatchEvent(new CustomEvent('selectItem'));
                this.resultsVisible = false;
                this._indexResult = -1;
            }

            _valueChanged() {
                this.root.querySelector('input').value = this.value;
            }

            _placeholderChanged() {
                this.root.querySelector('input').placeholder = this.placeholder;
            }

            _documentClickListener(e) {
                this._clearResults();
            }

            connectedCallback() {
                super.connectedCallback();
                const self = this;

                const input = this.root.querySelector('input');
                input.addEventListener('keydown', e => e.stopPropagation());
                input.addEventListener('keyup', this._onKeyUp.bind(this));
                input.addEventListener('focus', e => {
                    if (this.showOnFocus) this.resultsVisible = true;
                    document.addEventListener('click', this._documentClickListener.bind(this), false);
                });
                this.addEventListener('click', e => e.stopPropagation(), false);
                this.root.querySelector('.autocomplete-results').addEventListener('click', e => this.selected = e.target.textContent);
            }
        }

        // Register custom element definition using standard platform API
        customElements.define(AutoComplete.is, AutoComplete, { extends: 'input' });

    </script>
</dom-module>