<link rel="import" href="../node_modules/@polymer/polymer/polymer-element.html"/>

<dom-module id="page-selector">
<template>
    <link rel="stylesheet" href="/node_modules/yfront/dist/css/yfront.min.css">
    <style>
        :host {
            position: relative;
            display: block;
        }
    </style>
    <div on-click="toggleSelector" class="card hoverable">
        <div class="bg-image" style$="background-image: url('editing/[[selected.image]]')"></div>
        <div class="card-label">[[selected.name]]<br><small>(clique para alterar)</small></div>
    </div>
    <div class="page-selector-options" >
        <template is="dom-repeat" items="{{pages}}">
            <div on-click="select" class="card hoverable">
                <div class="bg-image" style$="background-image: url('editing/[[item.image]]')"></div>
                <div class="card-label">[[item.name]]</div>
            </div>
        </template>
    </div>
</template>

<script>
    class PageSelector extends Polymer.Element {
        static get is() { return 'page-selector'; }

        static get properties() {
            return {
                selected: Object,
                pages: Array,
                value: String,
                selectorOpen: {
                    type: Boolean,
                    observer: '_selectorOpenChanged'
                }
            };
        }
        _selectorOpenChanged() {
            this.root.querySelector('.page-selector-options').classList.toggle('open');
        }
        connectedCallback() {
            var self = this;
            super.connectedCallback();
        }
        toggleSelector() {
            this.selectorOpen = !this.selectorOpen;
        }
        select(e) {
            if(e.model.item.selected) return;

            if(this.value && this.value !== e.model.item.url) {
                this.root.querySelector('.selected').classList.remove('selected');
                const current = this.pages.filter(p => p.url === this.value)[0];
                current.selected = false;
            }
            this.value = e.model.item.url;
            e.model.item.selected = !e.model.item.selected;
            e.target.closest('.card').classList.toggle('selected');
            this.selected = e.model.item;
            this.selectorOpen = false;
        }
    }

    // Register custom element definition using standard platform API
    customElements.define(PageSelector.is, PageSelector);
</script>
</dom-module>