<link rel="import" href="../node_modules/@polymer/polymer/polymer-element.html"/>

<dom-module id="toast-notification">
<template>
    <link rel="stylesheet" href="/node_modules/yfront/dist/css/yfront.min.css">
    <style>
        :host {
            display: none;
            position: fixed;
            z-index: 999999;
        }

        :host(.toast-left) {
            left: 6%;
        }
        :host(.toast-center) {
            left: 50%;
            margin-left: -50%;
        }
        :host(.toast-right) {
            right: 6%;
        }

        :host(.toast-top) {
            top: 6%;
        }
        :host(.toast-middle) {
            top: 50%;
            margin-top: -50%;
        }
        :host(.toast-bottom) {
            bottom: 6%;
        }
        
        :host(.toast-right.toast-horizontal-slide) {
            opacity: 0;
            display: block;
            transform: translateX(100px);
        }
        :host(.toast-right.toast-horizontal-slide.in) {
            opacity: 1;
            transform: translateX(0);
            transition: all .4s ease-in-out;
        }

        :host(.toast-grown-fade) {
            opacity: 1;
            display:block;
        }
        :host(.toast-grown-fade.out) {
            opacity: 0;
            transform: scale(1.6);
            transition: all .3s ease-in-out;
        }
    </style>
    <slot></slot>
</template>

<script>
    class ToastNotification extends Polymer.Element {
        static get is() { return 'toast-notification'; }


        static get properties() {
            return {
                valign: {
                    type: String,
                    value: "top"
                },
                halign: {
                    type: String,
                    value: "right"
                },
                entrance: {
                    type: String,
                    value: "horizontal-slide"
                },
                exit: {
                    type: String,
                    value: "grown-fade"
                },
                timeout: {
                    type: Number,
                    value: 10000
                },
                visible: {
                    type: Boolean,
                    observer: '_visibleChanged'
                }
            };
        }
        _clearTimer() {
            if(this.timer) {
                clearTimeout(this.timer);
                delete this.timer;
            }
        }
        _startTimer() {
            this.timer = setTimeout(this._timeoutExpired.bind(this), this.timeout);
        }
        _timeoutExpired() {
            this.visible = false;
            this._clearTimer();
        }
        _visibleChanged(visible) {
            if(visible) {
                this.classList.remove(`toast-${this.exit}`);
                this.classList.add(`toast-${this.entrance}`);
                setTimeout((() => this.classList.add(`in`)).bind(this), 10);
                this.addEventListener('mouseover', this._clearTimer.bind(this), false);
                this.addEventListener('mouseout', this._startTimer.bind(this), false);
                this._startTimer();
            }
            else {
                this.classList.add(`toast-${this.exit}`);
                setTimeout((() => this.classList.add(`out`)).bind(this), 10);
                this.classList.remove(`in`);
                this.classList.remove(`toast-${this.entrance}`);
                this.removeEventListener('mouseover', this._clearTimer.bind(this));
                this.removeEventListener('mouseout', this._startTimer.bind(this));
            }
        }
        connectedCallback() {
            var self = this;
            this.classList.add(`toast-${this.valign}`);
            this.classList.add(`toast-${this.halign}`);

            super.connectedCallback();

            this.querySelectorAll('[toast-dismiss]').forEach(elem => 
                elem.addEventListener('click', e => this.visible = false));
        }
    }

    // Register custom element definition using standard platform API
    customElements.define(ToastNotification.is, ToastNotification);
</script>
</dom-module>